
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/show_modal.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./css/menu.css">
    <link rel="stylesheet" href="css/main.css">
<div id="navbar">
    <div class="logo">
        <i class="fas fa-users-cog"></i>
        <h3>MANAGER</h3>
    </div>
    <ul class="menu">
        <li class="<%if (active == 1){%>active<%}%>"">
            <a href="/manage_user">
                <i class=" fas fa-users"></i>
                <p>Manager Users</p>
            </a>
        </li>
        <li class="<%if (active == 2){%>active<%}%>"">
            <a href="/manage_account">
                <i class=" fas fa-luggage-cart"></i>
                <p>Manager Account Office 365</p>
            </a>
        </li>
        <li class="<%if (active == 3){%>active<%}%>"">
            <a href="/token">
                <i class=" fas fa-users"></i>
                <p>Token Create Account</p>
            </a>
        </li>
        <li>
            <a href="/change_pass">
                <i class="fas fa-users"></i>
                <p>Change Password</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fas fa-sign-out-alt"></i>
                <p>Log Out</p>
            </a>
        </li>
    </ul>
</div>
<div class="header">
    <p class="date"></p>
</div>