<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/menu.css">
</head>

<body>
    <%- include("components/menu.ejs")%>
        <div class="container">
            <h1>Data Reseller</h1>
            <div class="line_break"></div>
            <div class="btn_wrap">
                <button onclick="add_reseller();">Add User</button>
            </div>
            <div class="display_wrap">
                <div class="limit">
                    Select&nbsp;
                    <select name="entries" id="" limit>
                        <option value="50">50</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="100">100</option>
                    </select>
                    &nbsp;entries
                </div>
                <div class="search">
                    Search: &nbsp;
                    <div class="search_bar">
                        <input type="text" class="input_search">
                        <span class="clear" onclick='$(".input_search").val("")'><i class="fas fa-times"
                                onclick="clear()"></i></span>
                    </div>
                </div>
            </div>
            <table class="data">
                <tr>
                    <th>ID</th>
                    <th>Parent User</th>
                    <th>User Name</th>
                    <th>Count/Total</th>
                    <th>Domain</th>
                    <th>License</th>
                    <th>Time</th>
                    <th>Del</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Tony</td>
                    <td onclick="update_reseller()">Parker</td>
                    <td>10/200</td>
                    <td class="cfg_comain" onclick="cfg_domain()">Config Domain</td>
                    <td class="cfg_license" onclick="cfg_license()">Config License</td>
                    <td>22/08/2021 09:03</td>
                    <td class="icon"><i class="far fa-trash-alt"></i></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Tony</td>
                    <td onclick="update_reseller()">Parker</td>
                    <td>10/200</td>
                    <td class="cfg_comain" onclick="cfg_domain()">Config Domain</td>
                    <td class="cfg_license" onclick="cfg_license()">Config License</td>
                    <td>22/08/2021 09:03</td>
                    <td class="icon"><i class="far fa-trash-alt"></i></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Tony</td>
                    <td onclick="update_reseller()">Parker</td>
                    <td>10/200</td>
                    <td class="cfg_comain" onclick="cfg_domain()">Config Domain</td>
                    <td class="cfg_license" onclick="cfg_license()">Config License</td>
                    <td>22/08/2021 09:03</td>
                    <td class="icon"><i class="far fa-trash-alt"></i></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Tony</td>
                    <td onclick="update_reseller()">Parker</td>
                    <td>10/200</td>
                    <td class="cfg_comain" onclick="cfg_domain()">Config Domain</td>
                    <td class="cfg_license" onclick="cfg_license()">Config License</td>
                    <td>22/08/2021 09:03</td>
                    <td class="icon"><i class="far fa-trash-alt"></i></td>
                </tr>
            </table>
        </div>
        <div class="modal fade" id="add_reseller" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Reseller</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="add-reseller-firstname">First Name:</label>
                                <input type="text" class="form-control" id="add-reseller-firstname">
                            </div>
                            <div class="form-group">
                                <label for="add-reseller-lastname">Last Name:</label>
                                <input type="text" class="form-control" id="add-reseller-lastname">
                            </div>
                            <div class="form-group">
                                <label for="add-reseller-username">Username:</label>
                                <input type="text" class="form-control" id="add-reseller-username">
                            </div>
                            <div class="form-group">
                                <label for="add-reseller-password">Password:</label>
                                <input type="text" class="form-control" id="add-reseller-password">
                            </div>
                            <div class="form-group">
                                <label for="add-reseller-email">Email:</label>
                                <input type="text" class="form-control" id="add-reseller-email">
                            </div>
                            <div class="form-group">
                                <label for="add-reseller-roles">Roles:</label>
                                <select class="form-control" id="add-reseller-roles">
                                    <option value="">Select</option>
                                    <option value="bulk">Resell Bulk</option>
                                    <option value="retail">Resell Retail</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="add-reseller-count">Count Account 365:</label>
                                <input type="text" class="form-control" id="add-reseller-count">
                            </div>
                            <div class="form-group">
                                <label for="add-reseller-total">Total Account 365:</label>
                                <input type="text" class="form-control" id="add-reseller-total">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="submit_add_reseller();">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="update_reseller" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Reseller</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="update-reseller-firstname">First Name:</label>
                                <input type="text" class="form-control" id="update-reseller-firstname">
                            </div>
                            <div class="form-group">
                                <label for="update-reseller-lastname">Last Name:</label>
                                <input type="text" class="form-control" id="update-reseller-lastname">
                            </div>
                            <div class="form-group">
                                <label for="update-reseller-username">Username:</label>
                                <input type="text" class="form-control" id="update-reseller-username" readonly>
                            </div>
                            <div class="form-group">
                                <label for="update-reseller-password">Password:</label>
                                <input type="text" class="form-control" id="update-reseller-password">
                            </div>
                            <div class="form-group">
                                <label for="update-reseller-email">Email:</label>
                                <input type="text" class="form-control" id="update-reseller-email">
                            </div>
                            <div class="form-group">
                                <label for="update-reseller-roles">Roles:</label>
                                <select class="form-control" id="update-reseller-roles">
                                    <option value="">Select</option>
                                    <option value="bulk">Resell Bulk</option>
                                    <option value="retail">Resell Retail</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="update-reseller-count">Count Account 365:</label>
                                <input type="text" class="form-control" id="update-reseller-count">
                            </div>
                            <div class="form-group">
                                <label for="update-reseller-total">Total Account 365:</label>
                                <input type="text" class="form-control" id="update-reseller-total">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="cfg_license" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Setting License Office 365</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="cfg-license-username">Username:</label>
                                <input type="text" class="form-control" id="cfg-license-username" readonly>
                            </div>
                            <div class="form-group">
                                <label for="cfg-license-domains">Domains:</label>
                                <select class="form-control" id="cfg-license-domains">
                                    <option value="">Select</option>
                                    <option value="mcpyu.cf">mcpyu.cf</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>License Office 365:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cfg-license-licenses">
                                    <label class="form-check-label" for="cfg-license-licenses">
                                        Office 365 A5 without Audio Conferencing for students use benefit  
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cfg-license-licenses">
                                    <label class="form-check-label" for="cfg-license-licenses">
                                        Office 365 A3 for students use benefit  
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cfg-license-licenses">
                                    <label class="form-check-label" for="cfg-license-licenses">
                                        Office 365 A1 for students  
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cfg-license-licenses">
                                    <label class="form-check-label" for="cfg-license-licenses">
                                        Office 365 A1 for faculty    
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cfg-license-licenses">
                                    <label class="form-check-label" for="cfg-license-licenses">
                                        Microsoft 365 Apps for Students   
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cfg-license-licenses">
                                    <label class="form-check-label" for="cfg-license-licenses">
                                        Microsoft 365 A5 for students use benefit  
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>x`
        <div class="modal fade" id="cfg_domain" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Setting Domain Office 365</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="cfg-domain-username">Username:</label>
                                <input type="text" class="form-control" id="cfg-domain-username" readonly>
                            </div>
                            <div class="form-group">
                                <label>Domain Office 365:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="domains">
                                    <label class="form-check-label" for="domains">
                                        mcpyu.cf
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="domains">
                                    <label class="form-check-label" for="domains">
                                        nxphu.net
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="domains">
                                    <label class="form-check-label" for="domains">
                                        taikhoantot.com
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>