* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
html,
body {
  height: 100vh;
  width: 100vw;
}
body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
}
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  padding-bottom: 5vh;
}
.hero > h2 {
  border-bottom: 1px solid gray;
  width: 78vw;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 15px;
  padding-bottom: 10px;
}
.form {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 70vw;
  align-items: center;
}
.items > p {
  width: 300px;
  color: #73879C;
  
}
.items > input {
  height: 30px;
  width: 60vw;
  border: 1px solid #73879C;
}
.items > input:focus {
  border: 1px solid #73879C;
  box-shadow: none;
  outline: none;
}
.submit {
  width: 7vw;
  height: 5vh;
  background: #28a745;
  border: none;
  outline: none;
  box-shadow: none;
  color: #fff;
  font-weight:bold;
  border-radius: 2px;
}
.display_wrap{
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}
.limit{
  display: flex;
  color: #73879C;
  align-items: center;
}
.limit > select{
  height: 40px;
  border: 1px solid #ced4da;
  width: 75px;
}
.search{
  display: flex;
  color: #73879C;
  align-items: center;
}
.search_bar{
  border: 1px solid #ced4da;
  width: 200px;
  height: 40px;
}
.search_bar > input{
  border: 0;
  height: 40px;
  width: 170px;
  font-size: larger;
  padding-left: 5px;
}
.clear_show{
  display: inline-block;
}
.search_bar > input:focus{
  border: 0;
  box-shadow: none;
  outline: none;
}
.clear{
  display: none;
}
.data{
  border: 1px solid black;
  border-collapse: collapse;
  width: calc(100vw - 400px);
  margin: auto;
}
.data tr:nth-child(even){
  background-color: #f2f2f2;
}
.data th, td{
  border: 1px solid #dee2e6;
  text-align: left;
  padding: 3px;
}
.icon{
  text-align: center;
}
.pop-up{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 1);
  z-index: 90;
}
.panel{
  height: 90vh;
  width: 40vw;
  margin: auto;
}